{% extends 'base.html' %}

{% block content %}
  <h1>Imóveis</h1>
  <hr>
  <div class="row">
    <div class="col-sm-4">
      <h2>Pesquisar Imóveis</h2>
      <form method="POST" action="{{ url_for('views.properties') }}">
        {{ search_form.csrf_token }}
        <div class="form-group">
          {{ search_form.search_query.label }}
          {{ search_form.search_query(class='form-control') }}
        </div>
        <button type="submit" class="btn btn-primary">Pesquisar</button>
      </form>
    </div>
    <div class="col-sm-8">
      <h2>Lista de Imóveis</h2>
      {% if search_results %}
        <p>{{ search_results|length }} resultado(s) encontrado(s).</p>
        <ul>
          {% for property in search_results %}
            <li>
              <a href="{{ url_for('views.view_property', property_id=property.id) }}">
                {{ property.address }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>Todos os imóveis disponíveis:</p>
        <ul>
          {% for property in properties %}
            <li>
              <a href="{{ url_for('views.view_property', property_id=property.id) }}">
                {{ property.address }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
{% endblock %}
